%section#content.container.clearfix
  %h2.page-description.align-center Resources

  .one-third
    %h3 The Festival
    %ul.resource-list
      %li
        %a{ href: "/festival/brochure.pdf" } Festival Brochure (pdf)
      %li
        %a{ href: "/festival/" } Course Descriptions
      %li
        %a{ href: "/festival/venue/" } Venue, Travel, & Lodging Info
      %li
        %a{ href: "https://secure.shaolinstpete.com/courses" } Registration

  .one-third
    %h3 About Wudang Tai Chi Chuan
    %ul.resource-list
      %li
        %a{ href: "http://www.shaolin.org/video-clips-7/wudang-taijiquan/treatise/overview.html" } Tai Chi Chuan Treatise of Zhang San Feng(!) (a series of articles by Grandmaster Wong)
      %li
        %a{ href: "http://www.shaolin.org/general-2/kungfu-sets/wudang-taijiquan.html" } The History and Philosophy of Wudang Tai Chi Chuan (by Grandmaster Wong)

  .one-third.last
    %h3 Set Videos & Descriptions
    %ul.resource-list
      %li
        %a{ href: "http://shaolin.org/general-2/kungfu-sets/24-pattern.html" } 24-Pattern Simplified set
      %li
        %a{ href: "http://shaolin.org/video-clips-8/taijiquan/108-pattern.html" } 108-Pattern Yang style set
      %li
        %a{ href: "http://www.shaolin.org/taijiquan/flowing-water/flowing-water04.html" } Flowing Water, Floating Clouds set (Chen style)
      %li
        %a{ href: "http://www.shaolin.org/video-clips-3/taijiquan/taiji-robin/flowing-water.html" } Flowing Water, Floating Clouds set performed by Sifu Robin Gamble
      %li
        %a{ href: "http://www.shaolin.org/video-clips-7/wudang-taijiquan/set-videos.html" } Wudang Tai Chi Chuan: The Essence of Tai Chi Chuan