%section#content.container.clearfix
  %h2.page-description.align-center Venue

  %p.align-center
    %img{ src: "/assets/site_img/hotel_indigo.jpeg", alt: "The Hotel Indigo" }

  :markdown
    The 2012 Tai Chi Chuan Festival will be held at the [Hotel Indigo](http://www.stpeteflhotel.com/):

    234 3rd Avenue North<br />
    St. Petersburg, Florida 33701<br />
    1-727-822-4814

    The Hotel Indigo is conveniently located within a few blocks of the Beach Dr strip as well as a major restaurant corridor on Central Ave. Unless you want to take a trip to the beaches, you won't need to rent a car as there is a wide variety of restaurants, bars, and shopping in the area.

    We have reserved a limited block of rooms at the Hotel Indigo at a discounted price of $139/night (a reasonable rate during what is prime vacation season), all you need to do is mention the 2012 Tai Chi Chuan Festival when making your reservation. Additionally, you may want to check the usual online travel sites, as we have been told that they are sometimes cheaper.

    If you do have a car or are local, parking at the Hotel Indigo is free during the courses.

    There are several other hotels in the area. If you would like to stay at one and have special considerations or questions, please contact me at 727.453.2490 or cdidyk@gmail.com, and I'll be happy to help you sort it out.

  %h3 Getting There

  :markdown
    If you're flying into the area, your best bet is probably flying into Tampa International Airport. From there, you can take a taxi to St. Petersburg or make transportation arrangements with [SuperShuttle](http://www.supershuttle.com/). SuperShuttle is cheaper, but you'll likely stop at other hotels along the way. A taxi will be more expensive but will take you directly to your destination.