%section#content.container.clearfix
  %h2.page-title Shaolin Cosmos Chi Kung Classes

  %p
    Sifu Christina teaches a 6-week Shaolin Cosmos Chi Kung class that meets weekly. The class is open to students of all experience levels (including fresh beginners). Details and registration can be found on the website of her clinic, <a href="http://artofacu-stpete.com/classes--workshops.html">Art of Acupuncture</a>.

  %p
    Alternatively, Shaolin Cosmos Chi Kung is taught as part of the
    %a{href: "/classes/kungfu/"} Shaolin Kung Fu class.
    If you are relatively healthy and are at all interested in Shaolin Kung Fu, this is probably the best choice for you.
