%section#content.container.clearfix
  %h2.page-title Shaolin Cosmos Chi Kung Classes

  %p
    Sifu Christina teaches weekly Shaolin Cosmos Chi Kung classes. Details can be found at <a href="https://smilingheartstudio.com">the Smiling Heart Studio website</a>.

  %p
    Alternatively, Shaolin Cosmos Chi Kung is taught as part of the
    %a{href: "/classes/kungfu/"} Shaolin Kung Fu class.
    If you are relatively healthy and are at all interested in Shaolin Kung Fu, this is probably the best choice for you.
