%section#content.container.clearfix
  %h2.page-title Shaolin Cosmos Chi Kung Classes

  %p
    Sifu Christina teaches a weekly Shaolin Cosmos Chi Kung class, but students must first learn from her at her clinic, <a href="http://artofacu-stpete.com/chi-kung--taijichuan.html">Art of Acupuncture</a>.

  %p
    Alternatively, Shaolin Cosmos Chi Kung is taught as part of the
    %a{href: "/classes/kungfu/"} Shaolin Kung Fu class.
    If you are relatively healthy and are at all interested in Shaolin Kung Fu, this is probably the best choice for you.
