%section#content.container.clearfix
  %h2.page-title Shaolin Cosmos Chi Kung Classes

  %p
    Sifu Christina currently teaches therapeutic Chi Kung as part of her medical practice. If you would like us to start a regular Chi Kung class, the best way is to
    %a{href: "/contact-us/"} contact us
    and let us know. The more people there are who want a Chi Kung class, the harder it is for us not to start one!

  %p
    Alternatively, Shaolin Cosmos Chi Kung is taught as part of the
    %a{href: "/classes/kungfu/"} Shaolin Kung Fu class.
    If you are relatively healthy and are at all interested in Shaolin Kung Fu, this is probably the best choice for you.
