%section#content.container.clearfix
  .festival-subheader
    %a{href: '#grandmaster-wong'} Grandmaster Wong
    %a{href: '#chi-kung-courses'} Chi Kung Courses
    %a{href: '#kung-fu-courses'} Kung Fu Courses
    %a{href: '#pricing'} Pricing
    %a{href: '#venue'} Venue

  .two-third

    %h2 2016 Chi Kung and Kung Fu Festival <br /> with Grandmaster Wong Kiew Kit
    %h3 November 11 - 14, 2016, St Petersburg, Florida, USA

    %p
      %strong.accented
        The Festival was a great success! Thank you to all who participated and especially to SGrandmaster Wong!

    %div
      %img{ src: "/assets/site_img/sifu-wong-swimming-dragon-close.jpeg", alt: "Grandmaster Wong Kiew Kit performing the kung fu pattern 'Swimming Dragon Plays With Water'", width: "600" }

    %hr

    %h3#grandmaster-wong
      %strong Grandmaster Wong

    %div
      :markdown
        We are honored to welcome Grandmaster Wong Kiew Kit back to St Petersburg for the first time in four years!

        Grandmaster Wong is the fourth generation successor of Venerable Jiang Nan from the Southern Shaolin Temple in China. For more than three decades, he has taught Shaolin Kung Fu, Shaolin Cosmos Chi Kung, and Zen (collectively known as the Shaolin arts) to more than 60,000 students all over the world, helping them not only become combat efficient, but also the best version of themselves: radiantly healthy, full of energy, deeply happy and peaceful, mentally clear, and more successful in all aspects of daily life.

        He has a fantastic track record of helping people use Chi Kung to cure various diseases and ailments considered incurable in the Western medical paradigm and received the "Chi Kung Master of the Year" Award during the Second World Congress on Chi Kung held in San Francisco in 1997.

        Grandmaster Wong taught English as a school teacher before dedicating his life to spreading the Shaolin arts, and he is always improving his teaching methods. In typical Zen fashion, his teaching style is simple, direct, and effective, and emphasizes direct experience and practical results over theoretical knowledge. Not only is he an excellent teacher, he is a living exemplar of the powerful benefits you can gain from practicing the Shaolin arts. Learning from him is an opportunity not to be missed!

    %hr

    %h3#chi-kung-courses
      %strong Chi Kung Courses

    %div
      %h4.accented <strong>Generating Energy Flow to Restore Great Health</strong>
      .course-offering
        %img{ src: "/assets/site_img/sifu-christina-plucking-stars.jpg", alt: "Sifu Christina performs the Chi Kung exercise 'Plucking Stars'" }
        .details
          %ul.none
            %li
              %h4.accented Friday morning, November 11, 2016
            %li
              %h4 <em>8am - 11am</em>
        .description
          :markdown
            Gain the skills to induce a powerful flow of healing energy in your body utilizing Lifting the Sky from the 18 Lohan Hands and Lohan Worships Buddha from the 18 Lohan Arts. Learn to enter a deep Zen state of Mind to increase healing potential at the cellular and genetic level.

            For current students do not miss the opportunity to deepen your understanding of how and why Chi Kung creates a healing effect on the body and how to maximize  your results as Grandmaster Wong will put special emphasis on discussion and explanation of the Theory & Practice of Chi Kung for Health.

    %hr

    %div
      %h4.accented <strong>Building Internal Force to Increase Vitality & Mental Clarity</strong>
      .course-offering
        %img{ src: "/assets/site_img/sifu-wong-pushing-mountains.png", alt: "Grandmaster Wong performing the Chi Kung exercise 'Pushing Mountains'" }
        .details
          %ul.none
            %li
              %h4.accented Saturday morning, November 12, 2016
            %li
              %h4 <em>8am - 11am</em>
        .description
          :markdown
            Use Pushing Mountains from the 18 Lohan Hands and Big Boss Lifts Urn from the 18 Lohan Arts to generate tremendous bursts of energy and a direct experience of powerful, flowing Internal Force creating a sense of incredible vitality and surprising increases in mental acuity and perception.
            Learn to become more focused, clearer and more perceptive after just a 15 minute Chi Kung exercise routine.  Apply to daily life immediately!

            We will all benefit tremendously as Grandmaster Wong again emphasis the theory and direct understanding of Vitality and Mental Clarity through discussion and immediate experience.

    %hr

    %div
      %h4.accented <strong>Generate Deep Internal Joy & Peace Through Cosmic Expansion</strong>
      .course-offering
        %img{ src: "/assets/site_img/sifu-wong-spiritual-joy.jpeg", alt: "Grandmaster Wong smiles, full of spiritual joy" }
        .details
          %ul.none
            %li
              %h4.accented Sunday morning, November 13, 2016
            %li
              %h4 <em>8am - 11am</em>
        .description
          :markdown
            For the first time ever in St Pete learn the incredible Sinew Metamorphosis technique and Merge with the Cosmos to experience the deepest and most profound sense of joy and peace suffusing your spirit.

            Erase stress from your life and reconnect with your deepest self by practicing these bafflingly simple yet unbelievably profound exercises.

            Regardless of religious belief you can be certain you will experience something special during this class with the Grandmaster.  Allow Grandmaster Wong to explain Zen and the nature of reality experience what is achievable with the practice of these highest level Shaolin Energy Arts.

    %hr

    %h3#kung-fu-courses
      %strong Kung Fu Courses

    %div
      %h4.accented <strong>One Finger Shooting Zen</strong>
      .course-offering
        %img{ src: "/assets/site_img/sifu-wong-one-finger-shooting-zen.jpeg", alt: "Grandmaster Wong performs 'One Finger Shooting Zen'" }
        .details
          %ul.none
            %li
              %h4.accented Monday morning, November 14, 2016
            %li
              %h4 <em>8am - 11am</em>
        .description
          :markdown
            One Finger Shooting Zen is one of the treasures of our school, with Grandmaster Wong's Sifu having advised him to practice it everyday even after becoming a master. The reason is clear for those who have practiced it. One Finger Shooting Zen is a powerful method for building internal force and developing mental clarity, which not only enhances combat efficiency but brings good health, vitality, and spiritual joy.

            At high levels, those who practice One Finger Shooting Zen develop Dim Mak, One Finger Zen, and Tiger Claw. Even better, One Finger Shooting Zen is considered the preeminent exercise to develop energy healing capabilities.

            One Finger Shooting Zen is suitable for Chi Kung students to practice even if they are not currently interested in practicing Shaolin Kung Fu.

    %hr

    %div
      %a{name: "four-gates"}
      %h4.accented <strong>Crossroads at Four Gates</strong>
      .course-offering
        %img{ src: "/assets/site_img/sifu-wong-bar-big-boss-crossroads-course.jpg", alt: "Grandmaster Wong defends an attack with the Crossroads at Four Gates pattern 'Bar the Big Boss'" }
        .details
          %ul.none
            %li
              %h4.accented Afternoons Friday, November 11, 2016 - Monday, November 14, 2016
            %li
              %h4 <em>1pm - 3pm & 4pm - 6pm</em>
        .description
          :markdown
            **Learn authentic internal Shaolin kung fu that brings radiant health, spiritual joy, and more energy for work and play**

            Crossroads at Four Gates was the fundamental kung fu set at the southern Shaolin Temple. Its theme is "profundity in simplicity", as it appears to be quite simple, but its applications are beautiful and profound, allowing exponents from novices to masters to appreciate it at different levels.

            During the course, Grandmaster Wong will bring both the Crossroads at Four Gates set and its companion two-man application set to life, teaching many of Four Gates' secrets hidden in the open. Attendees will learn how to practice the sets to develop various important martial skills that can also be applied in daily life. They will also learn how to develop kung fu combat efficiency using the amazing advantages built into the Four Gates patterns.

            This course is open to students of all experience levels, even fresh beginners. **Students who live in the St Petersburg area will get the most out of this course by joining the 5-week Crossroads at Four Gates Preparatory class starting in October.**

            Complimentary registration for the One Finger Shooting Zen course is included with registration in the Crossroads at Four Gates course!

          %p Here are the course objectives, straight from the grandmaster:

          %ul
            %li To learn a legendary kungfu set practiced at the Quanzhou Shaolin Monastery
            %li To train bridges (forearms) and stances
            %li To learn basic Shaolin skills and techniques for combat
            %li To appreciate different levels of combat, which include some sophisticated combat application
            %li To learn using just one hand to control your opponent's two
            %li To have good health, vitality, and longevity by practicing the set

          %a{name: "four-gates-prep"}
          %h5 Resources
          %p
            %a{href: "http://shaolin.org/shaolin/kungfu-sets/four-gates-set.html", target: "_blank"} Watch Grandmaster Wong perform the Crossroads at Four Gates solo set
          %p
            %a{href: "http://shaolin.org/video-clips-4/four-gates/four-gates-01/overview.html", target: "_blank"} Watch video clips of a Crossroads at Four Gates course Grandmaster Wong taught in England in 2008
          %p
            %a{href: "http://shaolin.org/shaolin/four-gates.html", target: "_blank"} Read about Shaolin Temple murals depicting Four Gates applications

    %hr

    %div
      %h4.accented <strong>Crossroads at Four Gates Preparatory Class</strong>
      %h4.accented <em>(Adults only, beginners welcome)</em>
      .course-offering
        %img{ src: "/assets/site_img/sifu-chris-single-tiger.jpeg", alt: "Sifu Chris Didyk performs the kung fu pattern 'Single Tiger'" }
        .details
          %ul.none
            %li
              %h4.accented October 3, 2016 - November 7, 2016
            %li
              %h4.accented Monday nights from 7-9pm
            %li
              %h4 <em>This class is taught by Sifu Chris Didyk</em>
        .description
          :markdown
            Students who live in the St Petersburg area should strongly consider joining Sifu Chris's 5-week Crossroads at Four Gates Preparatory class. This class will focus on preparing students for the [4-day Crossroads at Four Gates course with Grandmaster Wong](#four-gates), greatly enhancing the benefits they receive from the grandmaster's course.

            New students will learn foundational Shaolin skills like entering zen, generating a chi flow, building internal force, moving in kung fu stances, and applying kung fu patterns. They will also become familiar with the solo set and the two-man application set that Grandmaster Wong will use in his 4-day course.

            Non-beginners will deepen and expand their existing skills, as the sets include a good mix of familiar and unfamiliar patterns. They are also likely to learn the material to a deeper level, which will bring them even more benefit from Grandmaster Wong's course.

    %hr

    %a{name: "register"}
    %h3#pricing.align-center{ style: "width: 90%;" }
      %strong Pricing
    %table.pricing.align-center{ style: "width: 90%;"}
      %thead
        %tr
          %td One Chi Kung Course
          %td.align-right $300
        %tr
          %td One Finger Shooting Zen Course
          %td.align-right $300
        %tr
          %td Crossroads at Four Gates Course*
          %td.align-right $1200
        %tr
          %td Crossroads at Four Gates Preparatory Class**
          %td.align-right $250

    .align-center{style: "width: 90%; text-align: left; font-size: 95%;" }
      %p *One Finger Shooting Zen is <span class="accented">FREE</span> for those taking the Crossroads at Four Gates Course
      %p **The Crossroads at Four Gates Preparatory Class is <span class="accented">FREE</span> for those who take the Crossroads at Four Gates Course

    %h3.align-center{ style: "width:90%;" }
      %strong Discounts
    %table.pricing.align-center{ style: "width: 90%;"}
      %thead
        %tr
          %td
            All 3 Chi Kung Courses + One Finger Shooting Zen
          %td.align-right
            <strike>$1200</strike> <span class="accented">$900</span>
        %tr
          %td
            All Festival courses
          %td.align-right
            <strike>$2400</strike> <span class="accented">$1600</span>

    %p.align-center All attendees should agree to follow <a href="http://shaolin.org/general/laws.html", target="_blank">the 10 Shaolin Laws</a> before registering.

    %hr

    %h3.align-center{ style: "width:90%" }
      %strong Refund Policy
    %p.align-center If for some reason you are unsatisfied with the course, simply request a refund before the course is over and you will be given a full refund, no questions asked.

    %hr

    %h3#venue.align-center{ style: "width:90%" }
      %strong Venue

    %p.align-center
      %img{ src: "/assets/site_img/hotel_indigo.jpeg", alt: "The Hotel Indigo" }

    :markdown
      The Chi Kung & Kung Fu Festival will be held at the <a href="https://www.ihg.com/hotelindigo/hotels/us/en/st-petersburg/piehd/hoteldetail" target="_blank">Hotel Indigo</a>:

      234 3rd Avenue North<br />
      St. Petersburg, Florida 33701<br />
      1-727-822-4814

      The Hotel Indigo is conveniently located within a few blocks of the Beach Dr strip as well as a major restaurant corridor on Central Ave. Unless you want to take a trip to the beaches, you won't need to rent a car as there is a wide variety of restaurants, bars, and shopping in the area.

      We have reserved a limited block of rooms at the Hotel Indigo at a discounted price. Simply mention the Chi Kung & Kung Fu Festival with Grandmaster Wong when making your reservation. Additionally, you may want to check the usual online travel sites, as we have been told that they are sometimes cheaper.

      If you do have a car or are local, Hotel Indigo has valet parking. Alternatively, there are some parking garages nearby and some street parking.

      There are several other hotels in the area. If you would like to stay at one and have special considerations or questions, please contact me at 727.453.2490 or cdidyk@gmail.com, and I'll be happy to help you sort it out.

    %h4 Getting There
    :markdown
      If you're flying into the area, your best bet is probably flying into Tampa International Airport (TPA). From there, you can take a taxi or uber to St. Petersburg or make transportation arrangements with <a href="http://www.supershuttle.com/" target="_blank">SuperShuttle</a>. SuperShuttle is cheaper, but you'll likely stop at other hotels along the way. A taxi will be more expensive but will take you directly to your destination.



  .one-third.last
    #mc_embed_signup.infobox
      %form#mc-embedded-subscribe-form.comments-form.validate{ action: "//shaolinstpete.us5.list-manage.com/subscribe/post?u=909ca0c73c87ce897eaa2367d&amp;id=d6f8470b74", method: "post", name: "mc-embedded-subscribe-form", target: "_blank", novalidate: "true", style: "margin: 0;" }
        #mc_embed_signup_scroll.input-block
          %p
            Get updates on Grandmaster Wong's upcoming courses in St Pete
          %input#mce-EMAIL.email{ type: "email", value: "", name: "EMAIL", placeholder: "email address", required: 'true' }
        -# real people should not fill this in and expect good things - do not remove this or risk form bot signups
        %div{ style: "position: absolute; left: -5000px;", 'aria-hidden' => "true" }
          %input{ type: "text", name: "b_909ca0c73c87ce897eaa2367d_d6f8470b74", tabindex: "-1", value: "" }
        .clear
        %div
          %input#mc-embedded-subscribe.button{ type: "submit", value: "Subscribe", name: "subscribe" }

    %div{ style: "padding: 25px;" }
      %h4.accented Other Courses with Sifu Wong in North America
      %div{ style: "margin-bottom: 1em;" }
        %a{href: "http://www.shaolinnorcal.com/"} Oct 15-16 San Francisco
        %ul.none
          %li Selection from 18 Jewels
          %li Selection from 18 Lohan Hands
          %li Abdominal Breathing
          %li Selection from Sinew Metamorphosis
      %div{ style: "margin-bottom: 1em;" }
        %a{href: "http://www.shaolin.nyc/"} Oct 20-23 New York City
        %ul.none
          %li Essence of Healing and Cleansing
          %li Elements of Attaining Vitality and Zen Mind
          %li Flow of Taijiquan
      %div{ style: "margin-bottom: 1em;" }
        %a{href: "http://www.newenglandshaolin.com/special-courses/"} Oct 27-30 New Hampshire
        %ul.none
          %li Cosmos Palm
          %li Generating Energy Flow
          %li 18 Jewels
          %li Cosmic Shower
      %div{ style: "margin-bottom: 1em;" }
        %a{href: "http://www.shaolin-taijiquan.com/"} Nov 4-6 Toronto
        %ul.none
          %li Sun Taijiquan Decoded
