%section#content.container.clearfix
  .two-third
    %h2 2016 Chi Kung and Kung Fu Festival <br /> with Grandmaster Wong Kiew Kit
    %h3 November 11 - 15, 2016, St Petersburg, Florida, USA

    %div
      %img{ src: "/assets/site_img/sifu-wong-swimming-dragon-close.jpeg", alt: "Grandmaster Wong Kiew Kit performing the kung fu pattern 'Swimming Dragon Plays With Water'", width: "600" }

    %p
      It has been 4 long years since Grandmaster Wong last came to St Petersburg, but, as the course lineup shows, his visit this coming November will be well worth the wait!

    %h3
      %strong Chi Kung Courses

    %div
      %h4.accented <strong>Generating Energy Flow to Restore Great Health</strong>
      .course-offering
        %img{ src: "/assets/site_img/sifu-christina-plucking-stars.jpg", alt: "Sifu Christina performs the Chi Kung exercise 'Plucking Stars'" }
        .details
          %ul.none
            %li
              %h4.accented Friday morning, November 11, 2016
            %li
              %h4 <em>Time and Venue TBA</em>
        .description
          :markdown
            Gain the skills to induce a powerful flow of healing energy in your body utilizing Lifting the Sky from the 18 Lohan Hands and Lohan Worships Buddha from the 18 Lohan Arts. Learn to enter a deep Zen state of Mind to increase healing potential at the cellular and genetic level.

            For current students do not miss the opportunity to deepen your understanding of how and why Chi Kung creates a healing effect on the body and how to maximize  your results as Grandmaster Wong will put special emphasis on discussion and explanation of the Theory & Practice of Chi Kung for Health.

    %hr

    %div
      %h4.accented <strong>Building Internal Force to Increase Vitality & Mental Clarity</strong>
      .course-offering
        %img{ src: "/assets/site_img/sifu-wong-pushing-mountains.png", alt: "Grandmaster Wong performing the Chi Kung exercise 'Pushing Mountains'" }
        .details
          %ul.none
            %li
              %h4.accented Saturday morning, November 12, 2016
            %li
              %h4 <em>Time and Venue TBA</em>
        .description
          :markdown
            Use Pushing Mountains from the 18 Lohan Hands and Big Boss Lifts Urn from the 18 Lohan Arts to generate tremendous bursts of energy and a direct experience of powerful, flowing Internal Force creating a sense of incredible vitality and surprising increases in mental acuity and perception.
            Learn to become more focused, clearer and more perceptive after just a 15 minute Chi Kung exercise routine.  Apply to daily life immediately!

            We will all benefit tremendously as Grandmaster Wong again emphasis the theory and direct understanding of Vitality and Mental Clarity through discussion and immediate experience.

    %hr

    %div
      %h4.accented <strong>Generate Deep Internal Joy & Peace Through Cosmic Expansion</strong>
      .course-offering
        %img{ src: "/assets/site_img/sifu-wong-spiritual-joy.jpeg", alt: "Grandmaster Wong smiles, full of spiritual joy" }
        .details
          %ul.none
            %li
              %h4.accented Sunday morning, November 13, 2016
            %li
              %h4 <em>Time and Venue TBA</em>
        .description
          :markdown
            For the first time ever in St Pete learn the incredible Sinew Metamorphosis technique and Merge with the Cosmos to experience the deepest and most profound sense of joy and peace suffusing your spirit.

            Erase stress from your life and reconnect with your deepest self by practicing these bafflingly simple yet unbelievably profound exercises.

            Regardless of religious belief you can be certain you will experience something special during this class with the Grandmaster.  Allow Grandmaster Wong to explain Zen and the nature of reality experience what is achievable with the practice of these highest level Shaolin Energy Arts.

    %hr

    %h3
      %strong Kung Fu Courses

    %div
      %h4.accented <strong>Crossroads at Four Gates and One Finger Shooting Zen</strong>
      .course-offering
        %img{ src: "/assets/site_img/sifu-wong-one-finger-shooting-zen.jpeg", alt: "Grandmaster Wong performs 'One Finger Shooting Zen'" }
        .details
          %ul.none
            %li
              %h4.accented Afternoons Friday, November 11, 2016 - Monday, November 15, 2016
            %li
              %h4 <em>Time and Venue TBA</em>
        .description
          :markdown
            Crossroads at Four Gates was the fundamental kung fu set at the southern Shaolin Temple. Its theme is "profundity in simplicity", as it appears to be quite simple, but its applications are beautiful and profound, allowing exponents from novices to masters to appreciate it at different levels. During the course, Grandmaster Wong will bring both the Crossroads at Four Gates set and its companion two-man application set to life, teaching many of Four Gates' secrets hidden in the open. Attendees will learn how to practice the sets to develop various important martial skills that can also be applied in daily life. They will also learn how to develop kung fu combat efficiency using the amazing advantages built into the Four Gates patterns.

            Grandmaster Wong will also teach One Finger Shooting Zen, one of the treasures of our school. One Finger Shooting Zen is a powerful method for building internal force and developing mental clarity, which not only enhances combat efficiency but brings good health, vitality, and spiritual joy. At high levels, those who practice One Finger Shooting Zen develop Dim Mak, One Finger Zen, and Tiger Claw. Even better, One Finger Shooting Zen is considered the preeminent exercise to develop energy healing capabilities.

            This course is open to students of all experience levels, even fresh beginners. Students who live in the St Petersburg area will get the most out of this course by joining Sifu Chris's Crossroads at Four Gates class that will meet weekly from October thru January.

    %hr

    %div
      %h4.accented <strong>Crossroads at Four Gates Weekly Class</strong>
      .course-offering
        %img{ src: "/assets/site_img/sifu-chris-single-tiger.jpeg", alt: "Sifu Chris Didyk performs the kung fu pattern 'Single Tiger'" }
        .details
          %ul.none
            %li
              %h4.accented October 2016 - January 2017
            %li
              %h4 <em>Details TBA. This class is taught by Sifu Chris Didyk.</em>
        .description
          :markdown
            Students who live in the St Petersburg area should strongly consider joining Sifu Chris's Crossroads at Four Gates weekly class. Leading up to Grandmaster Wong's course, the class will focus on learning both the Crossroads at Four Gates set and the two-man application set. This way, students will be able to focus on developing skills, not learning the routines, when they take Grandmaster Wong's course. Afterwards, the class will spend the remaining time focusing on deepening the skills learned on Grandmaster Wong's course.

    %hr

  .one-third.last
    #mc_embed_signup.infobox
      %form#mc-embedded-subscribe-form.comments-form.validate{ action: "//shaolinstpete.us5.list-manage.com/subscribe/post?u=909ca0c73c87ce897eaa2367d&amp;id=d6f8470b74", method: "post", name: "mc-embedded-subscribe-form", target: "_blank", novalidate: "true", style: "margin: 0;" }
        #mc_embed_signup_scroll.input-block
          %p
            Get updates on Grandmaster Wong's upcoming courses in St Pete
          %input#mce-EMAIL.email{ type: "email", value: "", name: "EMAIL", placeholder: "email address", required: 'true' }
        -# real people should not fill this in and expect good things - do not remove this or risk form bot signups
        %div{ style: "position: absolute; left: -5000px;", 'aria-hidden' => "true" }
          %input{ type: "text", name: "b_909ca0c73c87ce897eaa2367d_d6f8470b74", tabindex: "-1", value: "" }
        .clear
        %div
          %input#mc-embedded-subscribe.button{ type: "submit", value: "Subscribe", name: "subscribe" }

    %div{ style: "padding: 25px;" }
      %h4.accented Other Courses in North America
      %p Grandmaster Wong will be teaching other exciting courses this fall throughout North America. Details will be posted soon!