%section#content.container.clearfix
  %h2 2016 Chi Kung and Kung Fu Festival
  %h3 November 11 - 15, 2016, St Petersburg, Florida, USA

  %p
    It's been 4 long years since Grandmaster Wong last came to St Petersburg, and I'm pleased to announce that he will be returning at the end of the year!

  %p
    This page will be updated with details as they are made available, but you'll probably find it more convenient to have updates emailed directly to you. Just enter your email below!

  #mc_embed_signup.infobox
    %form#mc-embedded-subscribe-form.comments-form.validate{ action: "//shaolinstpete.us5.list-manage.com/subscribe/post?u=909ca0c73c87ce897eaa2367d&amp;id=d6f8470b74", method: "post", name: "mc-embedded-subscribe-form", target: "_blank", novalidate: "true" }
      #mc_embed_signup_scroll.input-block
        %p
          Get updates on Grandmaster Wong's upcoming courses in St Pete
        %input#mce-EMAIL.email{ type: "email", value: "", name: "EMAIL", placeholder: "email address", required: 'true' }
      -# real people should not fill this in and expect good things - do not remove this or risk form bot signups
      %div{ style: "position: absolute; left: -5000px;", 'aria-hidden' => "true" }
        %input{ type: "text", name: "b_909ca0c73c87ce897eaa2367d_d6f8470b74", tabindex: "-1", value: "" }
      .clear
      %div
        %input#mc-embedded-subscribe.button{ type: "submit", value: "Subscribe", name: "subscribe" }
