%section#content.container.clearfix
  %h2 Beginner Kung Fu Class (Adults)
  %h3 Monday nights from 6pm - 8pm
  %p
    %em Trinity Lutheran Church (401 5th St N in downtown St Petersburg)

  %p The Beginner Kung Fu class is for students working on Levels 1 and 2 and of the <a href="/articles/curriculum">Shaolin Kung Fu</a> and Wahnam Taijiquan curricula. The Level 1 material includes the foundational skills and techniques that are the base of all of Shaolin Kung Fu and Wahnam Taijiquan. They are a joy to practice and bring many benefits to daily life.

  %p Students who attend class and practice consistently usually take 4 months to learn the Level 1 foundational material. In that time, they should achieve the following objectives:

  %ul
    %li be able to generate a chi flow to improve health and energy circulation
    %li be able to build consolidated internal force through stance-training
    %li be able to build flowing internal force through Cloud Hands and Grasping Sparrow's Tail
    %li develop some kung fu agility
    %li use the 8 basic hand patterns in attack and defense
    %li understand and apply the basic principles of static Pushing Hands
    %li gain a basic understanding of Shaolin and Taijiquan philosophy
    %li directly experience the benefits of practicing genuine Shaolin Kung Fu and Wahnam Taijiquan, including personal growth, a clearer, more powerful mind, improved health and happiness, more energy for daily life, improved combat efficiency, and spiritual (*not* religious) joys
    %li be ready for the next level of training

  %p While students typically start noticing the benefits from the first class, they should plan to train the full 4 months before evaluating their results with their Sifu. Students are often amazed at their personal transformation during this time. No contracts and a generous refund policy (see below) mean that there is no risk if for some reason it doesn't work out.

  %p Students who become proficient in the Level 1 material advance to Level 2, where they choose to focus on Shaolin Kung Fu or Taijiquan. At this level, students learn their first set and dramatically deepen their combat proficiency with basic hand patterns. Taijiquan students also deepen their Pushing Hands skills.


  %h3 Additional Details
  %p Students should regularly practice 15-60 minutes a day between classes.

  %p There are no uniforms. Simply wear clothing that doesn't restrict your movement and that you don't mind sweating in. Flat-soled shoes with good traction that allow even weight distribution throughout the feet are recommended. Think Vans, indoor soccer shoes, boat shoes, or barefoot running shoes rather than the many running shoes and cross-trainers that put extra padding in the heel to shift more weight onto the balls of the feet.

  %p The Beginner Kung Fu class is for adults, but mature teenagers will be considered on a case-by-case basis.

  %h3 Pricing & Refunds
  %table.pricing
    %thead
      %tr
        %th
        %th
          Individual
        %th
          Family*
    %tbody
      %tr
        %th Pay-in-full before course
        %td
          %strike $1000
          %span.accented $900
        %td
          %strike $1800
          %span.accented $1500
      %tr
        %th Monthly Installments (4 months)
        %td $250/month
        %td $375/month

  %p
    %em *Family pricing shown for two people. Email us for pricing for more than two
  %p Full no-questions-asked refund if requested within the first month. After that, refunds are prorated so that you only pay for the months you attend class.

  %h3 Absence Policy
  %p Life happens, and sometimes it's not possible to make a class. Occasional absences are no big deal. Students should email or text their Sifu as a courtesy to inform them they will be absent. Then, they simply continue their personal practice and come to the next class, picking up where they left off.
  %p Students who become ill should stay home and focus on getting better rather than worry about missing class. Once better, they can return to class and pick up where they left off.
  %p Students who have a pre-planned trip and know they will be out of class for a significant period of time should discuss it with their Sifu ahead of time.
  %p While we handle absences on a case-by-case basis, the general rule is that students should pay their monthly fees if they attend at least two classes in a month. Students who habitually miss class might be refunded and asked to take an extended break until they are ready to return.

  %h3 COVID Policy
  %p We have resumed full training, including partner work, and are no longer observing social distancing in class. That said, we respect that students have their own unique circumstances and risk tolerance. Students who prefer to socially distance will be able to do so. There is a lot of material that can be practiced solo which can bring a lot of benefits (as evidenced by the students who trained this way for over a year during the worst of the pandemic), but at some point, students have to train with partners to get the full benefits.
  %p The training hall itself is a large, well-ventilated space with high ceilings. Unfortunately, while wearing a mask is a good idea in many scenarios, it is not recommended while training the Shaolin Arts.

  %h3 Registration
  %p Registration for the Beginner Shaolin Kung Fu class is by invite only. Please submit a student application if you would like to be considered for this class.

  %p
    %a.button.large{href: 'https://kwoon.shaolinstpete.com/applications/new'} Apply now

  %hr
  %a{name: "kung-fu-class"}
  %h2 Intermediate Kung Fu Class (Adults)
  %h3 Saturday mornings from 9am - 11am
  %p
    %em Trinity Lutheran Church (401 5th St N in downtown St Petersburg)

  %p The Intermediate Kung Fu class is for students who have reached at least Level 3 of the Shaolin Kung Fu or Taijiquan curriculum. Starting at Level 3, the emphasis changes from basic movements and patterns to sequences and the sparring methodology that is the basis for combat proficiency in Shaolin Kung Fu and Wahnam Taijiquan.

  %div
    %a{href: "/articles/curriculum"} See the full Shaolin Kung Fu curriculum

  %br

  %h3 Pricing
  %table.pricing
    %thead
      %tr
        %th
        %th
          Individual
        %th
          Family*
    %tbody
      %tr
        %th Pay-in-full 1 year
        %td
          %strike $3000
          %span.accented $2500
        %td
          %strike $4500
          %span.accented $3750
      %tr
        %th Monthly
        %td $250/month
        %td $375/month

  %p
    %em *Family pricing shown for two people. Email us for pricing for more than two

  %hr
  %a{name: "kung-fu-seminar"}
  %h2 Kung Fu Seminars (Adults)
  %h3 TBD
  %p Some students are unable to attend class every week, but can attend an occasional weekend seminar. These kung fu seminars are generally 6 hours on a Saturday and offered as frequently as quarterly. They are more intense, compressing a month's worth of training into a day, but also more flexible, allowing students to have more control over the frequency of their lessons. Students who are willing to work hard on their own can go quite far training this way. Just ask Sifu Chris, who trained this way for his first few years!

  %p If you are interested in Kung Fu Seminars, please email Sifu Chris at <a href="mailto:sifu.chris@shaolinstpete.com">sifu.chris@shaolinstpete.com</a>.

  %h3 Pricing
  %table.pricing
    %thead
      %tr
        %th Individual
    %tbody
      %tr
        %td{style: "text-align: center"} $250/seminar
  %hr
  %a{name: "online-training"}
  %h2 Online Training
  %h3
    %a{href: "https://www.shaolintreasurehouse.com/"} Shaolin Treasure House
  %p For those unable to learn in person, my kung fu brother Sifu Leo Lackinger has put together an excellent online training program. Please visit the above link to learn more.

  %hr
  %h2 Expectations for Students
  %p
    Before applying, students should read and agree to follow the
    %a{href: "http://www.shaolin.org/general/laws.html"} 10 Shaolin Laws.
    However, there are some concepts worth expanding upon.

  %ul
    %li We're not just a kung fu class, we're a traditional kung fu family. We genuinely care about each other and help each other improve. Please act accordingly.

    %li If you're going to be late or you can't make class one night, please let the instructor know as a courtesy.

    %li Establishing a personal practice is crucial for students to get the full benefits of practicing Shaolin Kung Fu. That means practicing at home for 15 minutes to an hour every day. (It's ok to miss a day occasionally.) If that sounds like a big commitment, don't worry, the Shaolin Kung Fu Foundations Course is designed to help you get there. Once you establish a daily practice, you will be amazed at how powerfully it affects your life!

  %p
    %a.button.large{href: "https://kwoon.shaolinstpete.com/applications/new"} Apply here

  %p Once we receive your application, we'll review it and contact you.
