%section#content.container.clearfix
  %h2 Crossroads at Four Gates Preparatory Class (Adults, Beginners Welcome)
  %h3 October 3, 2016 - November 7, 2016
  %p
    %em Unitarian Universalist Church of St. Petersburg (719 Arlington Ave N on Mirror Lake)

  %p The focus of this 5-week class is to prepare the students for the <a href="/classes/grandmaster-wong">4-day Crossroads at Four Gates course with Grandmaster Wong</a>, greatly enhancing the benefits they receive from the grandmaster's course.

  %h3 Course Objectives
  %p New students will learn foundational Shaolin skills like entering zen, generating a chi flow, building internal force, moving in kung fu stances, and applying kung fu patterns. They will also become familiar with the solo set and the two-man application set that Grandmaster Wong will use in his 4-day course.

  %p Non-beginners will deepen and expand their existing skills, as the sets include a good mix of patterns they are and aren't currently familiar with. They are also likely to learn the material to a deeper level, which will bring them even more benefit from Grandmaster Wong's course.

  %h3 Course Details
  %p The class will meet every Monday night from 7pm - 9pm. Students should practice 30-60 minutes every day between classes.

  %p This class is only for adults. However, mature teenagers will be considered on a case-by-case basis.

  %h3 Pricing & Refunds
  %table.pricing
    %tbody
      %tr
        %th If student is registered in the 4-day Crossroads at Four Gates course with Grandmaster Wong
        %td
          %strike $250
          %span.accented $0
      %tr
        %th If student is not registered in the 4-day Crossroads at Four Gates course with Grandmaster Wong
        %td $250

  %p Full no-questions-asked refunds if requested within the first month.

  %h3 Registration
  %p Registration is now open!

  %p
    %a.button.large{href: 'https://kwoon.shaolinstpete.com/events/1/registrations/new'} Register

  -# %hr
  -# %a{name: "developing-skills"}
  -# %h2 Developing the Profound Skills of Crossroads at Four Gates Class

  %hr
  %a{name: "kung-fu-class"}
  %h2 Weekly Adult Shaolin Kung Fu Class

  %p Students who wish to join the weekly adult Shaolin Kung Fu class must do so through a beginner course. Beginner courses typically start in spring and fall. <a href="https://kwoon.shaolinstpete.com/applications/new">Apply now</a> to be considered for (and kept informed of) the next beginner course.

  %hr
  %h2 Private Shaolin Kung Fu Lessons

  %p In addition to the weekly class, we offer private lessons tailored to the student's individual needs. If you are interested, please specify that when you <a href="https://kwoon.shaolinstpete.com/applications/new">apply</a>. You can also <a href="/contact-us">contact us</a> directly.

  %hr
  %h2 Expectations for Students
  %p
    Before applying, students should read and agree to follow the
    %a{href: "http://www.shaolin.org/general/laws.html"} 10 Shaolin Laws.
    However, there are some concepts worth expanding upon.

  %ul
    %li We're not just a kung fu class, we're a traditional kung fu family. We genuinely care about each other and help each other improve. Please act accordingly.

    %li If you're going to be late or you can't make class one night, please let the instructor know as a courtesy.

    %li Establishing a personal practice is crucial for students to get the full benefits of practicing Shaolin Kung Fu. That means practicing at home for 30 minutes to an hour every day. (It's ok to miss a day occasionally.) If that sounds like a big commitment, don't worry, the Shaolin Kung Fu Foundations Course is designed to help you get there. Once you establish a daily practice, you will be amazed at how powerfully it affects your life!

  %p
    %a{href: "https://kwoon.shaolinstpete.com/applications/new"} Apply here

  %p Once We receive your application, We'll review it and contact you.