%section#content.container.clearfix
  %h2 Shaolin Kung Fu Foundations Class

  %p If you'd like to give Shaolin Kung Fu a try, you should <a href="#apply">sign up</a> for my Shaolin Kung Fu Foundations class. In it, you'll learn about and experience each of the main aspects of Shaolin Kung Fu:
  %ul
    %li
      %strong Shaolin Mind Training
    %li
      %strong Kung Fu Agility
    %li
      %strong Internal Force Training
    %li
      %strong Shaolin Cosmos Chi Kung
    %li
      %strong Applications &amp; Partner Practice

  %p The Foundations class is 2 hours long, and I usually only offer it 2 or 3 times a year. It costs $500 and includes a month of <a href="#kung-fu-class">classes</a>. If you decide Shaolin Kung Fu isn't for you, you may get a full refund immediately after the Foundations class, no questions asked.

  %p
    %a{href: "#apply"}Apply below

  %hr
  %a{name: "kung-fu-class"}
  %h2 Weekly Adult Shaolin Kung Fu Class

  %p Shaolin Kung Fu class is every Monday night from 7-9pm at the Unitarian Universalist Church of  St. Petersburg (719 Arlington Ave N on Mirror Lake). The fees are as follows:

  %ul
    %li $500/month
    %li $5000 for a year if you pay upfront (which comes out to $416/month)

  %p Please note that there are no contracts. If you decide that Shaolin Kung Fu is not for you, simply let me know and stop paying. If you paid upfront, I will refund you a prorated amount.

  %h2 Private Shaolin Kung Fu Lessons

  %p Some students are too busy to make the weekly class regularly or just prefer to learn one-on-one. For these students, I offer private lessons. I will work around your schedule and come to your house (or where ever is convenient for you) for either one 2-hour session or two 1-hour sessions per week. The fee is $500/week or $1500/month.

  %p
    If you are interested in private lessons, please specify that when you
    %a{href: "#apply"} apply.
    You can also
    %a{href: "/contact-us"} contact me
    directly.


  %h3 Expectations For Students

  %p
    In short, students should agree to follow the
    %a{href: "http://www.shaolin.org/general/laws.html"} 10 Shaolin Laws.
    However, there are some concepts in there worth expanding upon.

  %ul
    %li We're not just a kung fu class, we're a kung fu family. We genuinely care about each other and help each other improve. Please act accordingly.

    %li If you're going to be late or you can't make class one night, please let me know as a courtesy.

    %li Establishing a personal practice is crucial for students to get the full benefits of practicing Shaolin Kung Fu. That means practicing at home for 30 minutes to an hour every day. (It's ok to miss a day occasionally.) If that sounds like a big commitment, don't worry, I'll help you get there, and you'll soon be looking forward to your next practice session. Once you establish a daily practice, you will be amazed at how powerfully it affects your life!

    %li Please pay your class fees on time. The less time I have to spend tracking and chasing down payments, the more time I can spend innovating my teaching!

  %hr
  %a{name: 'apply'}
  %h2 Apply

  %p To apply, please email the following information to me at cdidyk@gmail.com:

  %ol
    %li Name
    %li Address
    %li Phone number
    %li Email
    %li Emergency contact (name and phone number)
    %li
      Classes and courses taken previously from Shaolin Wahnam. Please include the following information if you remember it:
      %ul
        %li course title
        %li year
        %li location
        %li instructor
    %li Previous martial arts experience
    %li Any health issues I should know about?
    %li Tell me a little bit about yourself
    %li Why Shaolin Kung Fu? How do you want your Shaolin Kung Fu practice to affect your life?
    %li
      Do you agree to live by the
      %a{href: "http://www.shaolin.org/general/laws.html"} 10 Shaolin Laws
      ?
    %li Desired payment plan (monthly or annual)

  %p Once I receive your application, I'll review it and contact you.