%section#content.container.clearfix
  %h2 Crossroads at Four Gates Preparatory Class (Adults, Beginners Welcome)
  %h3 October 3, 2016 - November 7, 2016
  %p
    %em Unitarian Universalist Church of St. Petersburg (719 Arlington Ave N on Mirror Lake)

  %p The focus of this 5-week class is to prepare the students for the <a href="/classes/grandmaster-wong">4-day Crossroads at Four Gates course with Grandmaster Wong</a>, greatly enhancing the benefits they receive from the grandmaster's course.

  %h3 Course Objectives
  %p New students will learn foundational Shaolin skills like entering zen, generating a chi flow, building internal force, moving in kung fu stances, and applying kung fu patterns. They will also become familiar with the solo set and the two-man application set that Grandmaster Wong will use in his 4-day course.

  %p Non-beginners will deepen and expand their existing skills, as the sets include a good mix of patterns they are and aren't currently familiar with. They are also likely to learn the material to a deeper level, which will bring them even more benefit from Grandmaster Wong's course.

  %h3 Course Details
  %p The class will meet every Monday night from 7pm - 9pm. Students should practice 30-60 minutes every day between classes.

  %p This class is only for adults. However, mature teenagers will be considered on a case-by-case basis.

  %h3 Pricing & Refunds
  %table.pricing
    %tbody
      %tr
        %th With registration in the 4-day Crossroads at Four Gates course with Grandmaster Wong
        %td
          %strike $250
          %span.accented $0
      %tr
        %th Without registration in the 4-day Crossroads at Four Gates course with Grandmaster Wong
        %td $250

  %p Full no-questions-asked refunds if requested within the first month.

  %h3 Registration
  %p Registration is now open!

  %p
    %a.button.large{href: 'https://kwoon.shaolinstpete.com/events/1/registrations/new'} Register

  %hr
  %a{name: "deepening-skills"}
  %h2 Deepening Skills of Crossroads at Four Gates Class (Adults)
  %h3 November 21, 2016 - January 30, 2017
  %p
    %em Unitarian Universalist Church of St. Petersburg (719 Arlington Ave N on Mirror Lake)

    %p Students at the <a href="/classes/grandmaster-wong">4-day Crossroads at Four Gates course with Grandmaster Wong</a> will learn enough on the course to keep them busy for a year or more. A weekly class to help them systematically build upon what they learned will greatly enhance their results. This 10-week class builds upon the 4-day course, helping students deepen the skills they learned on the course and further unlock the "profundity in simplicity" of Crossroads at Four Gates.

  %h3 Course Objectives
  %ul
    %li To deepen the health, energy, and combat benefits of practicing the Crossroads at Four Gates sets
    %li To deepen the benefits like building internal force, enhancing mental clarity, and developing tiger claw and dim mak in practicing One Finger Shooting Zen
    %li To enhance your ability to use one hand to control your opponent's two
    %li To enhance your kung fu combat abilities using patterns and tactics from Crossroads at Four Gates
    %li To create an excellent foundation for further kung fu development

  %h3 Course Details
  %p The class will meet every Monday night from 7pm - 9pm. Students should practice 30-60 minutes every day between classes.

  %p This class is only for adults who have already learned the routines of the Crossroads at Four Gates solo and two-man sets. Beginners should wait until the next Shaolin Kung Fu Foundations class in February.

  %h3 Pricing & Refunds

  %p Please note that students who take the 4-day Crossroads at Four Gates course with Grandmaster Wong can take the first 4 weeks of the Deepening Skills class for free.

  %table.pricing
    %tbody
      %tr
        %th With registration in the 4-day Crossroads at Four Gates course with Grandmaster Wong
        %td
          %strike $625
          %span.accented $375
      %tr
        %th Without registration in the 4-day Crossroads at Four Gates course with Grandmaster Wong (but completed the 5-week preparatory class)
        %td $625

  %p Full no-questions-asked refunds if requested within the first month.

  %h3 Registration
  %p Registration for this course is currently closed and will open at a later date.

  %hr
  %a{name: "kung-fu-class"}
  %h2 Weekly Adult Shaolin Kung Fu Class

  %p The weekly adult Shaolin Kung Fu class is set up as a series of courses that run one after the other and are typically 4 or 8 months in length. This way, students get the consistency of weekly classes while also having clear targets to systematically work towards.

  %p New students must first take a beginner course before being accepted into other courses. Beginner courses typically start in spring and fall. <a href="https://kwoon.shaolinstpete.com/applications/new">Apply now</a> to be considered for (and kept informed of) the next beginner course.

  %hr
  %h2 Private Shaolin Kung Fu Lessons

  %p In addition to the weekly class, we offer private lessons tailored to the student's individual needs. If you are interested, please specify that when you <a href="https://kwoon.shaolinstpete.com/applications/new">apply</a>. You can also <a href="/contact-us">contact us</a> directly.

  %hr
  %h2 Expectations for Students
  %p
    Before applying, students should read and agree to follow the
    %a{href: "http://www.shaolin.org/general/laws.html"} 10 Shaolin Laws.
    However, there are some concepts worth expanding upon.

  %ul
    %li We're not just a kung fu class, we're a traditional kung fu family. We genuinely care about each other and help each other improve. Please act accordingly.

    %li If you're going to be late or you can't make class one night, please let the instructor know as a courtesy.

    %li Establishing a personal practice is crucial for students to get the full benefits of practicing Shaolin Kung Fu. That means practicing at home for 30 minutes to an hour every day. (It's ok to miss a day occasionally.) If that sounds like a big commitment, don't worry, the Shaolin Kung Fu Foundations Course is designed to help you get there. Once you establish a daily practice, you will be amazed at how powerfully it affects your life!

  %p
    %a{href: "https://kwoon.shaolinstpete.com/applications/new"} Apply here

  %p Once we receive your application, we'll review it and contact you.