%section#content.container.clearfix
  %hr
  %h2 Shaolin Kung Fu Foundations Course (Adults)
  %h3 April 6, 2020 - Aug 10, 2020
  %p
    %em Unitarian Universalist Church of St. Petersburg (719 Arlington Ave N on Mirror Lake)

  %p
    %strong This is likely to be the only Foundations course offered in 2020, since we are busy preparing students for a special kung fu course in Malaysia with Grandmaster Wong later in the year.
  %p
    %strong Please note that accommodations can be made for students who will miss significant class time due to vacation. Please email Sifu Chris to discuss individual cases.

  %p The skills and techniques taught in this 16-week class form <a href="/articles/curriculum">the base of all of Shaolin Kung Fu</a>. They are not only a joy to practice but bring many benefits to daily life. Students are often amazed at their personal transformation between the beginning and end of the course.

  %h3 Course Objectives
  %p Students who attend class and practice consistently should achieve the following objectives during the course:

  %ul
    %li be able to generate a chi flow to improve health and energy circulation
    %li be able to build internal force through stance-training
    %li develop kung fu agility
    %li use the 8 basic hand patterns in attack and defense
    %li gain a basic understanding of Shaolin philosophy
    %li directly experience the benefits of practicing genuine Shaolin Kung Fu, including personal growth, a clearer, more powerful mind, improved health and happiness, more energy for daily life, improved combat efficiency, and spiritual joys (which benefit students of any religious or non-religious beliefs)
    %li be ready for the next level of Shaolin Kung Fu training

  %h3 Schedule
  %p The class will meet Monday nights from 7pm - 9pm.
  %p No class on Memorial Day (May 25), June 22, or one week in July (TBD) when the training hall will be unavailable.

  %h3 Additional Details
  %p Students should practice 30-60 minutes every day between classes.

  %p The Shaolin Kung Fu Foundations course is only for adults. However, mature teenagers will be considered on a case-by-case basis.

  %p Students who do well in the Foundations course may be invited to join the weekly adult Shaolin Kung Fu class.

  %h3 Pricing & Refunds
  %table.pricing
    %thead
      %tr
        %th
        %th
          Individual
        %th
          Family*
    %tbody
      %tr
        %th Pay-in-full before course
        %td
          %strike $1000
          %span.accented $900
        %td
          %strike $1800
          %span.accented $1350
      %tr
        %th Monthly Installments (4 months)
        %td $250/month
        %td $375/month

  %p
    %em *Family pricing shown for two people. Email us for pricing for more than two
  %p Full no-questions-asked refund if requested within the first month. After that, refunds are prorated so that you only pay for the months you attended the course.

  %h3 Registration
  %p Registration for the Shaolin Kung Fu Foundations course is by invite only. Please submit a student application if you would like to be considered for this or future Shaolin Kung Fu Foundations courses.

  %p
    %a.button.large{href: 'https://kwoon.shaolinstpete.com/applications/new'} Apply now

  %hr
  %a{name: "kung-fu-class"}
  %h2 Weekly Adult Shaolin Kung Fu Class

  %p The weekly adult Shaolin Kung Fu class is for students who want to make practicing the Shaolin Arts part of their daily lives. There is no belt system, but there is a curriculum. When students are ready to learn something new, they are taught it. The weekly class emphasizes developing skills over learning new techniques, but the vast depth of Shaolin Kung Fu means that there is plenty of material to keep students interested and busy for a long time.

  %p New students must first take a beginner course before being accepted into the regular weekly class. Beginner courses typically start in spring and fall. <a href="https://kwoon.shaolinstpete.com/applications/new">Apply now</a> to be considered for (and kept informed of) the next beginner course.

  %div
    %a{href: "/articles/curriculum"} See the full Shaolin Kung Fu curriculum

  %br

  %h3 Pricing
  %table.pricing
    %thead
      %tr
        %th
        %th
          Individual
        %th
          Family*
    %tbody
      %tr
        %th Pay-in-full 1 year
        %td
          %strike $3000
          %span.accented $2500
        %td
          %strike $5000
          %span.accented $3750
      %tr
        %th Monthly Installments (4 months)
        %td $250/month
        %td $375/month

  %p
    %em *Family pricing shown for two people. Email us for pricing for more than two

  %hr
  %h2 Expectations for Students
  %p
    Before applying, students should read and agree to follow the
    %a{href: "http://www.shaolin.org/general/laws.html"} 10 Shaolin Laws.
    However, there are some concepts worth expanding upon.

  %ul
    %li We're not just a kung fu class, we're a traditional kung fu family. We genuinely care about each other and help each other improve. Please act accordingly.

    %li If you're going to be late or you can't make class one night, please let the instructor know as a courtesy.

    %li Establishing a personal practice is crucial for students to get the full benefits of practicing Shaolin Kung Fu. That means practicing at home for 30 minutes to an hour every day. (It's ok to miss a day occasionally.) If that sounds like a big commitment, don't worry, the Shaolin Kung Fu Foundations Course is designed to help you get there. Once you establish a daily practice, you will be amazed at how powerfully it affects your life!

  %p
    %a.button.large{href: "https://kwoon.shaolinstpete.com/applications/new"} Apply here

  %p Once we receive your application, we'll review it and contact you.
