%section#content.container.clearfix
  %h2.page-title Weekly Shaolin Kung Fu Class

  %p Shaolin Kung Fu class is every Monday night from 7-9pm in downtown St. Petersburg, FL. The fees are as follows:

  %ul
    %li $150/month for a year (this is a special rate. The regular rate is $200/month)
    %li $1200 for a year if you pay upfront (which comes out to $100/month. The regular rate is $1800)

  %p Please note that there are no contracts. If you decide that Shaolin Kung Fu is not for you, simply let me know and stop paying. If you paid upfront, I will refund you a prorated amount (please note that I will not refund partial months).

  %p The rates are "for a year" because a year is both not very long and a good amount of time to give a deep art like Shaolin Kung Fu a reasonable try. It's also a natural milestone for us to reflect on your progress and your goals. But it won't take a year for you to experience the tremendous benefits of your Shaolin Kung Fu practice. The benefits will start in the intro class, and if you don't directly experience them then, you will shortly thereafter.

  %h3 How to Apply

  %p If you'd like to give Shaolin Kung Fu a try, please email me the information from the application below. After I review it, I'll get in touch with you and schedule an intro class. After you take the intro class, assuming you demonstrate yourself to be a deserving student, you can decide whether or not to join the weekly class.

  %h3 Application

  %p To apply, please email the following information to me at cdidyk@gmail.com:

  %ol
    %li Name
    %li Address
    %li Phone number
    %li Email
    %li Emergency contact (name and phone number)
    %li
      Classes and courses taken previously from Shaolin Wahnam. Please include the following information if you remember it:
      %ul
        %li course title
        %li year
        %li location
        %li instructor
    %li Previous martial arts experience
    %li Any health issues I should know about?
    %li Tell me a little bit about yourself
    %li Why Shaolin Kung Fu? How do you want your Shaolin Kung Fu practice to affect your life?
    %li
      Do you agree to live by the
      %a{href: "http://www.shaolin.org/general/laws.html"} 10 Shaolin Laws
      ?
    %li Desired payment plan