%section#content.container.clearfix
  %h2.page-title Shaolin Kung Fu Curriculum

  %p The curriculum described here is mainly for the benefit of students, but also to give prospective students an idea of what to expect. We have no belt system -when students are ready to learn new material, I teach it to them. That said, if a student practices well, it takes roughly 3 months to advance through a level, and students must test out of each level.

  %p In addition to this basic curriculum, students, when they are ready, have numerous opportunities to develop specialties and select special sets to practice. When a student practices a special set, he doesn't just learn how to perform the set well, but how to fight using the patterns and tactics of the set and develop internal force using its signature force-training methods (if it has any).

  %h3 Level 1: Fundamentals of Shaolin Kung Fu
  %h4 Chi Kung
  %ul
    %li Developing the skill of chi flow using Shaolin Cosmos Chi Kung
    %li The Art of Flexibility
  %h4 Force Training
  %ul
    %li
      The zhan zhuang cycle
      %ul
        %li Horse stance
        %li Bow-arrow stance
        %li False leg stance
        %li Single leg stance
        %li Four-six stance
        %li Unicorn stance
        %li Goat stance
    %li One Finger Shooting Zen
  %h4 Moving in stances
  %ul
    %li Gliding in bow-arrow stance
    %li Stepping in bow-arrow stance
    %li Stepping in false leg stance
    %li Stepping in single leg stance
    %li Stepping using bow-arrow and unicorn stances
    %li Moving in compass directions using bow-arrow stance
  %h4 Combat Application
  %ul
    %li
      8 Basic hand attacks and defenses
      %ul
        %li Black Tiger Steals the Heart (middle attack)
        %li Single Tiger Emerges From Cave (middle defense)
        %li White Snake Shoots Venom (high attack)
        %li Golden Dragon Plays With Water (high defense)
        %li Precious Duck Swims Through Lotus (low attack)
        %li False leg Hand Sweep (low defense)
        %li Hang a Golden Star at Corner (side attack)
        %li Immortal Emerges From Cave (side defense)