%section#content.container.clearfix
  %h2.page-title Classes

  %ul.arrow-2
    %li
      %a{href: "/classes/kungfu/"} Weekly Shaolin Kung Fu Class
    %li
      %a{href: "/classes/chikung/"} Shaolin Cosmos Chi Kung