%section#content.container.clearfix
  %h2.slogan.align-center
    We're happy to answer any questions you have.

  .team-member.one-half
    %img.photo{ src: "/assets/site_img/sifu-chris-headshot.jpeg", alt: "Sifu Chris Didyk" }
    .content
      %h4 Sifu Chris Didyk (<a href="/articles/sifu-chris/">bio</a>)
      %span.job-title Shaolin Kung Fu
      %div.phone (727) 453-2490
      %div.email
        %a{href: "mailto:sifu.chris@shaolinstpete.com"} sifu.chris@shaolinstpete.com

  .team-member.one-half.last
    %img.photo{ src: "/assets/site_img/sifu-christina-headshot.jpeg", alt: "Sifu Christina Didyk" }
    .content
      %h4 Sifu Christina Didyk
      %span.job-title Shaolin Cosmos Chi Kung
      %div.phone (727) 542-2949
      %div.email
        %a{href: "mailto:sifu.chris@shaolinstpete.com"} sifu.chris@shaolinstpete.com