%section#content.container.clearfix
  %h2.slogan.align-center
    We're happy to answer any questions you have.

  .one-fourth
    &nbsp;

  .team-member.one-fourth
    %img.photo{ src: "/assets/site_img/chris-didyk.jpg", alt: "Sifu Chris Didyk" }
    .content
      %h4 Sifu Chris Didyk
      %span.job-title Shaolin Kung Fu
      %ul.contact-info
        %li.phone (512) 944-6640
        %li.email
          %a{href: "mailto:cdidyk@gmail.com"} cdidyk@gmail.com

  .team-member.one-fourth
    %img.photo{ src: "/assets/site_img/christina-didyk.jpg", alt: "Sifu Christina Didyk" }
    .content
      %h4 Sifu Christina Didyk
      %span.job-title Shaolin Cosmos Chi Kung
      %ul.contact-info
        %li.phone (727) 542-2949
        %li.email
          %a{href: "mailto:cbdidyk@gmail.com"} cbdidyk@gmail.com

  .one-fourth.last
    &nbsp;