%section#content.container.clearfix
  %h2.page-description.align-center
    Tai Chi Chuan Festival 2012

  %p We're excited to announce that Grandmaster Wong Kiew Kit will be coming here to St. Petersburg for the second year in a row! Even better, this time he will be teaching several high-level Tai Chi Chuan courses in addition to powerful Shaolin Cosmos Chi Kung courses!

  %p Course registration and online payment will be coming soon.

  %h3
    %strong Course Schedule

  %h4.accented Friday, Nov. 2

  %h5
    %strong Generating Energy Flow*
    (9am - 12pm)
  %img.photo{ src: "/assets/site_img/peaceful-chi-kung.jpg", alt: "Peaceful Chi Kung", height: "214", width: "274" }
  %div{style: "margin-bottom: 3em"}

  %h5
    %strong The Essence of Yang-style Tai Chi Chuan*
    (2pm - 6pm)
  %img.photo{ src: "/assets/site_img/carrying-the-cosmos.jpg", alt: "Grandmaster Wong performing the Tai Chi Chuan Pattern Carrying the Cosmos", height: "214", width: "274" }
  %div{style: "margin-bottom: 3em"}

  %h4.accented Saturday, Nov. 3

  %h5
    %strong Cosmic Shower
    (9am - 12pm)
  %img.photo{ src: "/assets/site_img/sifu-wong-smiling.jpg", alt: "Grandmaster Wong smiling from the heart", height: "181", width: "274" }
  %div{style: "margin-bottom: 3em"}

  %h5
    %strong The Essence of Chen-style Tai Chi Chuan
    (2pm - 6pm)
  %img.photo{ src: "/assets/site_img/immortal-waves-sleeves.jpg", alt: "Grandmaster Wong performing the Tai Chi Chuan pattern Immortal Waves Sleeves at the Blue Mountain", height: "214", width: "274" }
  %div{style: "margin-bottom: 3em"}


  %h4.accented Sunday, Nov. 4

  %h5
    %strong Merging with the Cosmos
    (9am - 12pm)
  %img.photo{ src: "/assets/site_img/sifu-wong-dantien-breathing.jpeg", alt: "Grandmaster Wong performing high-level Chi Kung", height: "200", width: "150" }
  %div{style: "margin-bottom: 3em"}

  %h5
    %strong The Essence of Wudang Tai Chi Chuan
    (2pm - 6pm)
  %img.photo{ src: "/assets/site_img/sifu-wong-dragon.jpg", alt: "Grandmaster Wong performing a Dragon pattern", height: "200", width: "188" }
  %div{style: "margin-bottom: 3em"}

  %p * Generating Energy Flow is a prerequisite for Cosmic Shower and Merging with the Cosmos unless you have previously taken it from Grandmaster Wong or learned Chi Kung from a Shaolin Wahnam Certified Instructor.

  %p * The Essence of Tai Chi Chuan is a prerequisite for The Essence of Chen-style Tai Chi Chuan and The Essence of Wudang Tai Chi Chuan unless you have previously learned Tai Chi Chuan or Shaolin Kung Fu from Grandmaster Wong or a Shaolin Wahnam Certified Instructor.

  %h3
    %strong Fees
  %ul.arrow-2
    %li 1 Course: $400
    %li 2 Courses: $700
    %li 3 Courses: $900
    %li All 6 Courses: $1500

