%section#content.container.clearfix
  %h2.page-description.align-center
    The Tai Chi Chuan Festival is over

  :markdown
    The Tai Chi Chuan Festival with Grandmaster Wong Kiew Kit was a massive success! Thank you to all those who attended, and especially thank you Sigung (Grandmaster Wong)! Each course exceeded our expectations and gave the attendees years of practice material while also immediately improving their skills.

    If you missed the Festival and would like to learn from us, please consider applying for my [Shaolin Kung Fu class](/classes/kungfu). We practice it as an internal art quite similar to how we practice our Tai Chi Chuan. I may offer a Tai Chi Chuan class in the future, so if Shaolin Kung Fu just won't do it for you, please email me at cdidyk@gmail.com to let me know you are interested in learning Tai Chi Chuan. I will only teach the class if there are enough interested students.
