%section#content.container.clearfix
  %h2.slogan.align-center Traditional Shaolin Kung Fu for Modern Day Happiness &amp; Prosperity

  %hr
  %p.page-subdescription
    Next Shaolin Kung Fu Foundations Class:
    %strong Monday, Sept. 30 7-9pm
    %a.button.large{href: '/classes/kungfu/'} Register Here!
  %hr

  %article.single.entry.clearfix
    %div
      %img.entry-image{ src: "/assets/site_img/sifu_wong_dark_dragon_big.jpg", alt: "Grandmaster Wong Kiew Kit performing the kung fu pattern 'Dark Dragon Draws Water'", width: "850" }

    %div{style: "width: 850px;"}
      %div
        :markdown
          ## What do you think of when you hear <strong>Shaolin Kung Fu</strong>?

          For many people, it evokes memories of old kung fu movies complete with strange bald men fighting using beautiful, exotic moves. If watching these movies made you want to try it out for yourself, you've come to the right place. In our school, we have a [massive range of kung fu sets](http://www.shaolin.org/general-2/kungfu-sets.html), and students learn not only how to perform these sets well, but how to use them effectively in combat along with their signature force-training methods. In short, you can use the same systematic training methods, improved over thousands of years, to follow in the footsteps of Wong Fei Hung, Zhang San Feng, and other kung fu heroes. You won't learn how to run across tree tops, but on the other hand, you won't have to sit in horse stance for hours over a fire while holding a boulder either!

          But what about everybody else? If you don't know who any of these kung fu masters are, why should you want to be like them?

          Because Shaolin Kung Fu is not only an effective martial art, it is an incredible vehicle for personal development. It addresses personal development on three levels.

      .infobox
        :markdown
          ### <span class="accented">Health</span>
          The first level is health. It's hard to care about anything else when you're sick. Of course, Shaolin Kung Fu will help improve your general physical fitness, but it will also make you less susceptible to illness and you'll soon notice that you don't feel any of the old aches and pains you used to.

          ### <span class="accented">Vitality</span<
          The second level is vitality, or having the energy to do whatever you want in life. That could be elite athletic performance, handling a demanding job, spending time with your family, or any other number of things. Even better, because Shaolin Kung Fu is an internal martial art, those who practice it gain more energy as they age. This is what the stereotype of the old, powerful Kung Fu master was born from.

          ### <span class="accented">Spirituality</span>
          The last level is spirituality, which can mean different things to different people. But think about it this way for a moment: When you have the energy to do whatever you want and never get sick, choosing what you actually spend your time and energy doing becomes an important consideration. You should spend your time doing the things that fulfill you and bring joy to both yourself and those around you. But sometimes you don't know what those things are, or some seemingly insurmountable obstacle blocks the way. Practicing Shaolin Kung Fu improves your mental clarity and develops your  morals and ethics so that you can more clearly see what truly makes you happy, ensure that it brings goodness to yourself and others, and find a way to do it. On a more mundane (but no less useful) level, it helps you do your work more efficiently, be a better spouse/parent/child/sibling, and notice the opportunities that surround you.

      %div
        :markdown
          Spirituality as we address it in class is separate from religion. As long as they agree to follow the [10 Shaolin Laws](http://www.shaolin.org/general/laws.html), anyone of any religious beliefs (including none) can practice Shaolin Kung Fu and gain the benefits I'm describing. If you are religious, practicing Shaolin Kung Fu will enhance your religious faith, and if you're not, it will still strengthen and develop your personal moral and ethical beliefs.

          While the levels of health, vitality, and spirituality are separated for convenience, students usually develop all three levels at the same time, whether they realize it or not.

          Our weekly kung fu class is for adults only and emphasizes having fun helping each other become better kung fu practitioners and better people in all aspects of our lives. I hold beginner's classes 3-4 times a year, so if you're interested in joining, please apply and I'll let you know when the next beginner's class is.


      %div
        %p
          Here's wishing you health, happiness, and success!

        %p
          &mdash;Sifu Chris Didyk