%section#content.container.clearfix
  %h2.slogan.align-center
    We are a group of experienced designers and developers.
    %br
    We set new standards in user experience &amp; make future happen.

  %section#features-slider.ss-slider
    %article.slide
      %img.slide-bg-image{ src: "/assets/img/placeholders/slider-slide-1.jpg", alt: "" }

      %div.slide-button
        %span.dropcap 1
        %h5 Responsive Layout
        %span.description From desktop to mobile

      %div.slide-content
        %h2 Responsive Layout
        %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec purus justo.
        %p
          %a.button{ href: "#" } Read More

    %article.slide
      %img.slide-bg-image{ src: "/assets/img/placeholders/slider-slide-2.jpg", alt: ""}

      %div.slide-button
        %span.dropcap 2
        %h5 HTML5 / CSS3
        %span.description For today and tomorrow

      %div.slide-content
        %h2 HTML5 / CSS3
        %p Hendrerit eleifend condimentum quis, varius at lacus. Donec ultrices justo scelerisque erat feugiat sed mattis justo volutpat.
        %p
          %a.button{ href: "#" } Read More

    %article.slide
      %img.slide-bg-image{ src: "/assets/img/placeholders/slider-slide-3.jpg", alt: ""}

      %div.slide-button
        %span.dropcap 3
        %h5 Easily Customisable
        %span.description Build the way you want!

      %div.slide-content
        %h2 Easily Customisable
        %p Etiam at nunc felis, vitae gravida libero. Morbi molestie elit eget metus volutpat vitae bibendum quam lacinia. Maecenas porttitor blandit nisl sit amet blandit. Phasellus porta sodales accumsan.
        %p
          %a.button{ href: "#" } Read More

    %article.slide
      %img.slide-bg-image{ src: "/assets/img/placeholders/slider-slide-4.jpg", alt: ""}

      %div.slide-button
        %span.dropcap 4
        %h5 Unique &amp; Clean
        %span.description Stand out from the crowd!

      %div.slide-content
        %h2 Unique &amp; Clean
        %p Fusce porta elit quis nunc mollis ut lacinia eros accumsan. Aenean consequat egestas diam, vel pharetra tellus venenatis in.
        %p
          %a.button{ href: "#" } Read More