%section#content.container.clearfix
  %h2.slogan.align-center
    Preserving and teaching the Shaolin Arts to deserving students in St. Petersburg, Florida irrespective of race, culture, and religion

  %section#features-slider.ss-slider
    %article.slide
      %img.slide-bg-image{ src: "/assets/site_img/with_sigung_vegas.jpg", alt: "Happy, healthy students" }

      %div.slide-button
        %span.dropcap 1
        %h5 Health
        -# %span.description Up your standard

      %div.slide-content
        %h2 Health
        %p Good health isn't managing an old back injury because the pain isn't that bad or only catching colds a few times a year. Good health is being free of pain and illness, and it's a basic achievement when you practice Shaolin Kung Fu.
        %p
          -# %a.button{ href: "#" } Read More

    %article.slide
      %img.slide-bg-image{ src: "/assets/site_img/kicking-double-lotus.jpg", alt: "Sifu Robin Gamble demonstrating the Double Lotus Kick"}

      %div.slide-button
        %span.dropcap 2
        %h5 Vitality
        -# %span.description Energy for work and play

      %div.slide-content
        %h2 Vitality
        %p When you practice Shaolin Kung Fu, you end your practice with more energy than you began with. That translates to more energy for work, family, and anything else you want to do in life.
        %p
          -# %a.button{ href: "#" } Read More

    %article.slide
      %img.slide-bg-image{ src: "/assets/site_img/one-finger-zen.jpg", alt: "Grandmaster Wong demonstrating One Finger Shooting Zen"}

      %div.slide-button
        %span.dropcap 3
        %h5 Mental Clarity
        -# %span.description Wisdom & concentration

      %div.slide-content
        %h2 Mental Clarity
        %p Practicing Shaolin Kung Fu sharpens your mind. Work more efficiently, understand problems and ideas more clearly, arrive at solutions faster, and better know what you really want.
        %p
          -# %a.button{ href: "#" } Read More

    %article.slide
      %img.slide-bg-image{ src: "/assets/site_img/standing-meditation.jpg", alt: "Students practicing Standing Meditation"}

      %div.slide-button
        %span.dropcap 4
        %h5 Spiritual Cultivation
        -# %span.description Be the best version of you

      %div.slide-content
        %h2 Spiritual Cultivation
        %p At its most basic level, spiritual cultivation is becoming a better, happier person. If you're religious, practicing Shaolin Kung Fu will strengthen your faith. If you're not religious, practicing Shaolin Kung Fu will help you get the most out of life.
        %p
          -# %a.button{ href: "#" } Read More

    %article.slide
      %img.slide-bg-image{ src: "/assets/site_img/pakua01.jpg", alt: "Sparring with Shaolin Kung Fu"}

      %div.slide-button
        %span.dropcap 5
        %h5 Combat Efficiency
        -# %span.description Using real kung fu

      %div.slide-content
        %h2 Combat Efficiency
        %p Shaolin Kung Fu has unparalleled depth -it has evolved over more than 1,000 years! Learn how to defend yourself systematically the way that past masters did, using real kung fu patterns and internal force.
        %p
          -# %a.button{ href: "#" } Read More