#header #logo img {
    float: left;
}

#header #logo h1 {
    display: inline-block;
    line-height: 86px;
    float: left;
    margin-left: 0.5em;
    color: #b80503;
}

.slides-container {
    background-color: #6FC4BD;
}

body {
    color: #474747;
    font: 13px/1.5 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
}

section h1, section h2, section h3, section h4, section h5, section h6, .page-title {
    font-weight: 500;
    color: #909090;
}

/*
.entry-meta .post-format {
    background-color: #b80503;
    color: #b80503;   //#f15a23;
 }
*/

dl dt {
    font-weight: bold;
}

dl dd {
    padding: 0 20px 15px 25px;
}