a, a > * {
    color: #b80503;
}

section a:hover, section a > *:hover {
    text-decoration: underline;
}

#header #logo img {
    float: left;
}

#header #logo h1 {
    display: inline-block;
    line-height: 86px;
    float: left;
    margin-left: 0.5em;
    color: #b80503;
    font-family: 'Open Sans', 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
    font-weight: 800;
}

.slides-container {
    background-color: #6FC4BD;
}

.ss-slider .pagination-container a {
    background-color: rgba(184, 5, 3, 0.6);
}

.ss-slider .pagination-container a:hover, .ss-slider.hide-content:hover .pagination-container a:hover {
    background-color: rgba(184, 5, 3, 1);
}

body {
    color: #474747;
    font: 13px/1.5 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
}

section h1, section h2, section h3, section h4, section h5, section h6, .page-title {
    font-weight: 500;
    color: #909090;
}

/*
.entry-meta .post-format {
    background-color: #b80503;
    color: #b80503;   //#f15a23;
 }
*/

dl dt {
    font-weight: bold;
}

dl dd {
    padding: 0 20px 15px 25px;
}