<!DOCTYPE html>

<!--[if IE 7]>                  <html class="ie7 no-js" lang="en">     <![endif]-->
<!--[if lte IE 8]>              <html class="ie8 no-js" lang="en">     <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html class="not-ie no-js" lang="en">  <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

	<title>Shaolin Wahnam St Pete</title>

	<meta name="description" content="">
	<meta name="author" content="">
        <meta name="google-site-verification" content="Uu2Duxe4J5tGKEFocZuqDVDynnM0j189zB4k8dj8eF0" />

	<!--[if !lte IE 6]><!-->
		<link rel="stylesheet" href="/assets/css/style.css" media="screen" />
                <link rel="stylesheet" href="/assets/css/custom.css" media="screen" />

		<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:400,600,300,800,700,400italic|PT+Serif:400,400italic" />

		<link rel="stylesheet" href="/assets/css/fancybox.min.css" media="screen" />

		<link rel="stylesheet" href="/assets/css/mediaelementplayer.min.css" media="screen" />
                <link href='http://fonts.googleapis.com/css?family=Cinzel:400,700' rel='stylesheet' type='text/css' />
	<!--<![endif]-->

	<!--[if lte IE 6]>
		<link rel="stylesheet" href="//universal-ie6-css.googlecode.com/files/ie6.1.1.css" media="screen, projection">
	<![endif]-->

	<!--[if lt IE 9]>
		<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
<body>

<%= yield %>

<!--[if !lte IE 6]><!-->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="/assets/js/jquery-1.7.1.min.js"><\/script>')</script>
	<!--[if lt IE 9]> <script src="/assets/js/selectivizr-and-extra-selectors.min.js"></script> <![endif]-->
	<script src="/assets/js/respond.min.js"></script>
	<script src="/assets/js/jquery.easing-1.3.min.js"></script>
	<script src="/assets/js/jquery.fancybox-1.3.4.pack.js"></script>
	<script src="/assets/js/jquery.smartStartSlider.min.js"></script>
	<script src="/assets/js/jquery.jcarousel.min.js"></script>
	<script src="/assets/js/jquery.cycle.all.min.js"></script>
	<script src="/assets/js/jquery.isotope.min.js"></script>
	<script src="/assets/js/mediaelement-and-player.min.js"></script>
	<script src="//maps.google.com/maps/api/js?sensor=false"></script>
	<script src="/assets/js/jquery.gmap.min.js"></script>
        <script src="/assets/js/jquery.validate.min.js"></script>
	<script src="/assets/js/custom.js"></script>
        <script>
         (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
           (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                                  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                                  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

         ga('create', 'UA-44147318-1', 'shaolinstpete.com');
         ga('send', 'pageview');

        </script>
        <script>
         jQuery("#mc-embedded-subscribe-form").validate();
        </script>
<!--<![endif]-->
</body>
</html>
