= yield

%footer#footer.clearfix
  %div.container
    %div.three-fourth
      %nav#footer-nav.clearfix
        %ul
          %li
            %a{href: "index.html"} Home
          %li
            %a{href: "elements.html"} Features
          %li
            %a{href: "blog.html"} Blog
          %li
            %a{href: "portfolio-4-columns.html"} Portfolio
          %li
            %a{href: "contact-us.html"} Contact

      %ul.contact-info
        %li.address 012 Some Street. New York, NY, 12345. USA
        %li.phone (123) 456-7890
        %li.email
          %a{href: "mailto:contact@companyname.com"} contact@companyname.com

    %div.one-fourth.last
      %span.title Stay connected
      %ul.social-links
        %li.twitter
          %a{href: "#"} Twitter
        %li.facebook
          %a{href: "#"} Facebook
        %li.digg
          %a{href: "#"} Digg
        %li.vimeo
          %a{href: "#"} Vimeo
        %li.youtube
          %a{href: "#"} YouTube
        %li.skype
          %a{href: "#"} Skype

%footer#footer-bottom.clearfix
  %div.container
    %ul
      %li SmartStart &copy; 2012
      %li
        %a{href: "#"} Legal Notice
      %li
        %a{href: "#"} Terms