%header#header.container.clearfix
  %a#logo{ href: "/index.html" }
    %h1 Shaolin Wahnam St Pete

  %nav#main-nav
    %ul
      %li
        %a{ href: "#", 'data-description' => "Schedule & Details" } Classes
        %ul
          %li
            %a{ href: "/classes/kungfu/" } Shaolin Kung Fu
          %li
            %a{ href: "/classes/chikung/" } Shaolin Cosmos Chi Kung
          %li
            %a{ href: "/classes/grandmaster-wong/" } Grandmaster Wong in St Pete
      %li
        %a{ href: "#", 'data-description' => "" } About
        %ul
          %li
            %a{href: "/articles/sifu-chris/" } Sifu Chris Didyk
            %a{href: "/articles/curriculum/" } Shaolin Kung Fu Curriculum
      %li
        %a{ href: "/contact-us/", 'data-description' => "" } Contact

= yield

%footer#footer.clearfix
  %div.container
    %div
      %nav#footer-nav.clearfix
        %ul
          %li
            %a{href: "/classes/kungfu/"} Kung Fu
          %li
            %a{href: "/classes/chikung/"} Chi Kung
          %li
            %a{href: "/contact-us/"} Contact

      %ul.contact-info
        %li.address St. Petersburg, FL, USA
        %li
          Proudly affiliated with
          %a{href: "http://www.shaolin.org"} the Shaolin Wahnam Institute


%footer#footer-bottom.clearfix
  %div.container
    %ul
      %li Shaolin Wahnam St Pete LLC &copy; 2016