%header#header.container.clearfix
  %a#logo{ href: "/index.html" }
    %h1 Shaolin Wahnam St Pete

  %nav#main-nav
    %ul
      %li
        %a{ href: "/classes/", 'data-description' => "Schedule & Details" } Classes
      %li
        %a{ href: "/index.html", 'data-description' => "Frequently Asked Questions" } FAQ
      %li
        %a{ href: "/contact-us/", 'data-description' => "" } Contact

= yield

%footer#footer.clearfix
  %div.container
    %div
      %nav#footer-nav.clearfix
        %ul
          %li
            %a{href: "/classes.html"} Classes
          %li
            %a{href: "/index.html"} FAQ
          %li
            %a{href: "/contact-us.html"} Contact

      %ul.contact-info
        %li.address St. Petersburg, FL, USA
        %li.phone (512) 944-6640
        %li.email
          %a{href: "mailto:cdidyk@gmail.com"} cdidyk@gmail.com

%footer#footer-bottom.clearfix
  %div.container
    %ul
      %li Shaolin Wahnam St Pete LLC &copy; 2012
      %li
        %a{href: "#"} Legal Notice
      %li
        %a{href: "#"} Terms