%section#content.container.clearfix
  %h2 Crossroads at Four Gates
  %br
  %p.page-subdescription A golden opportunity to practice authentic Southern Shaolin Kung Fu as it was taught at the Shaolin Temple

  %p During the time of our kungfu ancestor, the Venerable Jiang Nan, Crossroads at Four Gates was the set that all martial monks at the southern Shaolin Monastery in Quanzhou practiced and built their future development upon.

  %p This fall, deserving students in and around St Petersburg have a golden opportunity to build the same foundation in the Shaolin Arts as countless Shaolin monks who came before them, complete with the energetic and spiritual aspects that give them radiant health and abundant energy, enhance their combat abilities, make their minds powerful and clear, improve the quality of their daily lives, and build within themselves an ever-growing sense of deep happiness and spiritual peace.

  %h2 4-day Crossroads at Four Gates course with Grandmaster Wong Kiew Kit
  %h3 November 11 - 14, 2016

  %p Grandmaster Wong Kiew Kit himself will be in St Petersburg to teach a 4-day Crossroads at Four Gates course as part of the <a href="/classes/grandmaster-wong">2016 Chi Kung & Kung Fu Festival</a>! The objectives of the course are:

  %ul
    %li To learn a legendary kungfu set practiced at the Quanzhou Shaolin Monastery
    %li To train bridges (forearms) and stances
    %li To learn basic Shaolin skills and techniques for combat
    %li To appreciate different levels of combat, which include some sophisticated combat application
    %li To learn using just one hand to control your opponent's two
    %li To have good health, vitality, and longevity by practicing the set

  %h2 5-Week Crossroads at Four Gates Preparatory class
  %h3 October 3, 2016 - November 7, 2016

  %p To get the most out of the 4-day Crossroads at Four Gates course with Grandmaster Wong, attendees in the St Petersburg area can join the 5-week Crossroads at Four Gates preparatory class starting on Oct 3. Sifu Chris Didyk will teach you some Shaolin basics and take you through the Crossroads at Four Gates solo and application sets. This way, you can focus more on developing skills during the 4-day course and less on how to move and what pattern comes next.

  %h2 10-Week Developing the Profound Skills of Crossroads at Four Gates class
  %h3 November 21, 2016 - January 30, 2017

  %p After the 4-day Crossroads at Four Gates course with Grandmaster Wong, Sifu Chris Didyk will teach a 10-week class focused on systematically deepening the skills learned on the Grandmaster's course. Grandmaster Wong is famous for effectively teaching years' worth of material in days, and attendees of his Four Gates course will leave the course with many wonderful things to practice. An experienced teacher and a class full of supportive practice partners will be more enjoyable and help you improve much more than if you train on your own.

  %p When the 10-week class ends, you might look back at the person you were at the start of October and be amazed at how far you've progressed.

  %h3 Schedule
  %ul
    %li Oct 3 - Nov 7: 5-Week Crossroads at Four Gates Preparatory Class
    %li Nov 11 - Nov 14: 4-day Crossroads at Four Gates Course with Grandmaster Wong
    %li Nov 21 - Jan 30: 10-Week Developing the Profound Skills of Crossroads at Four Gates Class

  %p Students who take the 5-Week Preparatory class will set themselves up to get the most out of the 4-day course with Grandmaster Wong. They will learn some Shaolin basics and become familiar with the Crossroads at Four Gates solo and application sets. This way, they can focus more on developing skills during the 4-day course and less on how to move and what pattern comes next.

  %p It is impossible to describe how incredible the 4-day course with Grandmaster Wong will be to those who have never learned from him before. You will learn years' worth of Shaolin Kung Fu in 4 days from a true master of teaching as well as kungfu, and you will surpass your expectations of what you can achieve in a short time. You may even look back on the course as transformational experience.

  %p Students commonly return from a course like the 4-day course with Grandmaster Wong excited to build on what they did but unsure of how to structure their practice optimally. They frequently have few or no local classmates to practice with, making their task even more difficult. The goal of the 10-Week Developing Skills class is to systematically develop the skills learned in the 4-day course with Grandmaster Wong, including plenty of partner work.

  %p Beginner or not, if you take all three courses, you will look back at yourself before the Preparatory class and be amazed at both how much you've progressed and how much you enjoy life. If you are unsure about committing to all 3 courses, take the Preparatory class and the 4-day course with Grandmaster Wong. You can decide on the Developing Skills class after that.


  %h2 Crossroads at Four Gates Preparatory Class (Adults, Beginners Welcome)
  %h3 5 weeks, October 3, 2016 - November 7, 2016 <em>(No class Oct. 31)</em>
  %p
    %em Unitarian Universalist Church of St. Petersburg (719 Arlington Ave N on Mirror Lake)



  %p Students who take this class are assumed to also be taking the <a href="/classes/kungfu/grandmaster-wong">4-day Crossroads at Four Gates + One Finger Shooting Zen course</a> with Grandmaster Wong November 11 - 14.

  %h3 Course Objectives
  %p The primary objective of this class is to prepare students to get the most out of the 4-day Crossroads at Four Gates + One Finger Shootin Zen course with Grandmaster Wong November 11 - 14.

  %p Students who attend class and practice consistently should achieve the following objectives during the course:

  %ul
    %li To learn a legendary kungfu set practiced at the Quanzhou Shaolin Monastery
    %li To train bridges (forearms) and stances
    %li To learn basic Shaolin skills and techniques for combat
    %li To appreciate different levels of combat, which include some sophisticated combat application
    %li To learn using just one hand to control your opponent's two
    %li To have good health, vitality, and longevity by practicing the set


  %h3 Course Details
  %p The class will meet every Monday night from 7pm - 9pm. Students should practice 30-60 minutes every day between classes. Please note that the course is actually longer than 17 weeks. The extra time will be used to deepen skills and/or learn bonus material.

  %p The Shaolin Kung Fu Foundations course is only for adults. However, mature teenagers will be considered on a case-by-case basis.

  %h3 Pricing & Refunds
  %table.pricing
    %tbody
      %tr
        %th Pay-in-full before course
        %td
          %strike $1000
          %span.accented $900
      %tr
        %th Monthly Installments
        %td $250/month (4 months)

  %p Full no-questions-asked refunds if requested within the first month.

  %h3 Registration
  %p Registration for the Shaolin Kung Fu Foundations course is now open!

  %p
    %a.button.large{href: 'https://kwoon.shaolinstpete.com/applications/new'} Apply now

  %hr
  %a{name: "kung-fu-class"}
  %h2 Weekly Adult Shaolin Kung Fu Class

  %p Students who wish to join the weekly adult Shaolin Kung Fu class must first complete the Shaolin Kung Fu Foundations Course. You are encouraged to <a href="https://kwoon.shaolinstpete.com/applications/new">apply</a> even if there is no Shaolin Kung Fu Foundations Course scheduled, as we are happy to set one up if there is enough demand.

  %hr
  %h2 Private Shaolin Kung Fu Lessons

  %p In addition to the weekly class, we offer private lessons tailored to the student's individual needs. If you are interested, please specify that when you <a href="https://kwoon.shaolinstpete.com/applications/new">apply</a>. You can also <a href="/contact-us">contact us</a> directly.

  %hr
  %h2 Expectations for Students
  %p
    Before applying, students should read and agree to follow the
    %a{href: "http://www.shaolin.org/general/laws.html"} 10 Shaolin Laws.
    However, there are some concepts worth expanding upon.

  %ul
    %li We're not just a kung fu class, we're a traditional kung fu family. We genuinely care about each other and help each other improve. Please act accordingly.

    %li If you're going to be late or you can't make class one night, please let the instructor know as a courtesy.

    %li Establishing a personal practice is crucial for students to get the full benefits of practicing Shaolin Kung Fu. That means practicing at home for 30 minutes to an hour every day. (It's ok to miss a day occasionally.) If that sounds like a big commitment, don't worry, the Shaolin Kung Fu Foundations Course is designed to help you get there. Once you establish a daily practice, you will be amazed at how powerfully it affects your life!

  %p
    %a{href: "https://kwoon.shaolinstpete.com/applications/new"} Apply here

  %p Once We receive your application, We'll review it and contact you.